{% extends "page.html" %} {% if announcement_login %} {% set announcement =
announcement_login %} {% endif %} {% block login_widget %} {% endblock %} {%
block main %}

<style>
	:root {
		--fa-primary-color: #39659f;
		--fa-secondary-color: #6f7072;
		--fa-primary-opacity: 0.6;
		--fa-secondary-opacity: 1;
		--clr-primary: #39659f;
		--clr-white: #fff;
		--clr-main: #222;
		--clr-secondary: #dd4a9f;
		--clr-secondary-dark: #be006e;
		--clr-gray-dark: #6f7072;
		--clr-gray-medium: #b4bec3;
		--clr-gray-light: #fdfdfe;
		--clr-red: #be0019;
		--clr-orange: #f09100;
		--clr-turqouise: #0091aa;
		--clr-green: #afc800;
		--main-font-color: #222;
		--default-ff: 'Museo Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	}

	#login-section {
		display: flex;
		width: 100%;
		min-height: 90vh;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 1em;
		box-sizing: border-box;
	}
</style>

{% block login %}
<div
	id="login-section"
	class="container"
>
	<p>Automatische Weiterleitung erfolgt...</p>
	<meta />
</div>
<footer class="login-footer">
	<a href="https://jupiter.fh-swf.de">Impressum / Kontakt</a>
</footer>
{% endblock login %} {% endblock %} {% block script %} {{ super() }}
<script>
	if (window.location.protocol === 'http:') {
		// unhide http warning
		var warning = document.getElementById('insecure-login-warning')
		warning.className = warning.className.replace(/\bhidden\b/, '')
	}
</script>

{% endblock %}
